<div class="cv-generator">
    <div class="header">
        AGBs
    </div>
    <div class="content">
        <div class="agbs-box">
            <b>Allgemeine Bestimmungen</b>
            <p align="justify"><a href="https://lehrstell.ch">Lehrstell.ch</a> behält sich das Recht vor, diese Bedingungen jederzeit und ohne Vorankündigung zu aktualisieren oder zu ändern. Nutzer sind an die jeweils letzte und aktuelle Fassung gebunden.</p>
 
            <b>Nutzung</b>
            <p align="justify">Die Nutzung von <a href="https://lehrstell.ch">Lehrstell.ch</a> ist für alle Nutzer kostenlos.</p>

            <b>Datenschutz (Lebenslauf- & Motivationsschreibengenerator)</b>
            <p align="justify">Wenn Nutzer den Lebenslauf oder das Motivationsschreiben für die Generierung erstellen, werden die Daten im Webbrowser des Users gespeichert. Auf der Webseite hat man die Möglichkeit die Cookies zu löschen, wenn der Nutzer auf "Cache-Daten löschen" klickt.</p>

            <b>Haftungsausschluss </b>
            <p align="justify"><a href="https://lehrstell.ch">Lehrstell.ch</a> haftet nicht für allfällige Systemfehler und Datenverluste.</p>

            <b>Copyright</b>
            <p align="justify">Die nachstehenden Bedingungen sowie andere für das Internet bestehenden Gesetze oder Bestimmungen gelten für alle Nutzer der Website <a href="https://lehrstell.ch">Lehrstell.ch</a>. Ohne schriftliche Genehmigung von <a href="https://lehrstell.ch">Lehrstell.ch</a> dürfen keine Informationen/Bilder und weitere Daten bereitgestellt, übertragen oder anderweitig benutzt werden. </p>

            <b>Annahmeerklärung</b>
            <p align="justify">Mit der Nutzung von <a href="https://lehrstell.ch">Lehrstell.ch</a> akzeptiert der Nutzer die AGB`s vollumfänglich.</p>

            <b>Anwendbares Recht und Gerichtsstand </b>
            <p align="justify">Auf diesen AGBs ist nur Schweizer Recht anwendbar. Der Gerichtsstand befindet sich am Sitz von <a href="https://lehrstell.ch">Lehrstell.ch</a>. </p>
 
        </div>
    </div>
</div>