.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    height: auto;
    width: 100%;
}

// .cv-generator .content {
// width: 1043px;
// .cv-generator .content .second-step { width: 1043px;
