<div class="first-step">
    <div class="motivation-container">

        <div class="row">
            <div class="col-100">
                <span class="small-heading grey-color">
                    <span class="underline">Beantworte</span> die Fragen und <span class="underline">klicke</span> die
                    richtigen Felder an.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-100">
                <label class="grey-color">
                    (Die Vorlage hilft dir beim Schreiben. Am Schluss kannst du den Brief als Word herunterladen und noch anpassen).
                </label>
            </div>
        </div>
        <div class="mb-20"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="">Welche Klasse besuchst du, welches sind deine Lieblingsfächer und Hobbys?
                    (Schreibe in ganzen Sätzen).</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepThreeData.textArea1" class="col-100"
                    name="comment-area" rows="5"
                    placeholder={{commonService.lehrStepThreeData.textArea1PlaceHolder}}></textarea>
            </div>
        </div>

        <div class="mb-20"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="">Dieser Satz erscheint automatisch am Schluss deines Motivationsschreibens.</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea style="background-color: transparent;"  class="col-100" name="comment-area-11" rows="5" disabled="true"
                    placeholder="Ich freue mich, wenn Sie mich zu einem Vorstellungsgespräch einladen, damit ich Sie von meiner Persönlichkeit überzeugen kann und warte gespannt auf Ihre Antwort."></textarea>
            </div>
        </div>


        <div class="mb-10"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="">Beilagen anklicken:</label>
            </div>
        </div>

        <div class="mb-10"></div>
        <div class="row">

            <div class="col-1-1">
                <label for="Lebenslauf" class="">Lebenslauf</label>
            </div>
            <div class="col-0-5 clickable">
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.lebenslauf" name="Lebenslauf"
                    class="height-18" id="Lebenslauf" value="value">
            </div>

            <div class="col-1-5 clickable">
                <label for="Stellwerktest" class="ml-20">Stellwerktest</label>
            </div>
            <div class="col-0-5">
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.stellwerktest" name="Stellwerktest"
                    class="height-18" id="Stellwerktest" value="value">

            </div>

            <div class="col-1-5 clickable">
                <label for="Schnupperberichte" class="ml-20">Schnupperberichte</label>
            </div>
            <div class="col-0-5" style="margin-left: 35px;">
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.Schnupperberichte" name="Schnupperberichte"
                    class="height-18" id="Schnupperberichte" value="value">

            </div>
        </div>
        <div class="row">

            <div class="col-1-1">
                <label for="Zeugnisse" class="">Zeugnisse</label>
            </div>
            <div class="col-0-5 clickable">
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.zeugnisse" name="Zeugnisse"
                    class="height-18" id="Zeugnisse" value="value">
            </div>

            <div class="col-1-5 clickable">
                <label for="Multicheck" class="ml-20">Multicheck</label>
            </div>
            <div class="col-0-5">
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.multicheck" name="Multicheck"
                    class="height-18" id="Multicheck" value="value">

            </div>

            <div style="width: 71px;">
                <label for="Eigene" class="label-float-right">Eigene:</label>
            </div>
            <div style="width: 125px;">
                <input type="text" [(ngModel)]="commonService.lehrStepThreeData.eigene" id="Eigene"
                    name="Eigene" maxlength="50" />
            </div>
        </div>

        <div class="mb-20"></div>
        <div class="mb-20"></div>
        <div class="mb-20"></div>
    </div>

</div>
<div class="mb-20"></div>
<div class="mb-20"></div>
<div class="mb-20"></div>
<a class="next-btn back-btn" (click)="onBack()">zurück</a>
<a class="next-btn" (click)="onNext()">Vorschau</a>