<div class="cv-generator">
    <div class="header">
        Über uns
    </div>
    <div class="content">
            <div class="impressum-box">
            <p>An vielen Wochenenden haben wir in unserer Freizeit dieses Projekt erstellt, damit die Schnupper- & Lehrstellensuche für (v.a. leistungsschwächere) Schülerinnen und Schüler deutlich vereinfacht wird.</p>
            <p>Das Hauptziel ist, dass alle Schülerinnen und Schüler ohne grosse Hilfe und mit wenigen Klicks einen Lebenslauf und ein Motivationsschreiben erstellen.</p>
            <br><p><u>Wer sind wir?</u></p>
            <p>Wir sind ein kreatives Team, bestehend aus zwei Lehrpersonen (Klassenlehrperson Niveau C & IF-Lehrperson) und einem tollen Informatiker, der uns dieses unglaubliche Tool programmiert und ermöglicht hat.</p>
            <p><b>Wichtig: Es werden auf unserer Webseite keine Daten gespeichert!</b></p>
            <p>Verbesserungsvorschläge & Anregungen bitte unbedingt an <a href="mailto:lehrstell@mail.ch">lehrstell@mail.ch</a> schicken!</p>
            </div>
    </div>
</div>