<footer class="footer-content">
    <span class="ml-20px"> COPYRIGHT &copy; {{year}} Lehrstell.ch </span>

    <div class="">
        <span class="clickable" (click)="clearCacheData()">Cache-Daten löschen</span>
        <span class="clickable" (click)="navigateTo('/über-uns')">Über uns</span>
        <span class="clickable" (click)="navigateTo('/impressum')">Impressum</span>
        <span class="clickable" (click)="navigateTo('/datenschutzerklärung')">Datenschutzerklärung</span>
        <span class="clickable" (click)="navigateTo('/agb')">AGBs</span>
    </div>
</footer>