p {
    margin-top: 2px !important;
    font-size: 12.4px !important;
}
b {
    font-size: 13.4px !important;
}
.content {
    min-height: 35vh;
    width: 95vw;
}

.header {
    margin-bottom: 20px !important;
}
.text-area-for-impressum {
    padding: 5%;
    font-size: 12;
    font-family: sans-serif;
    min-height: 48vh;
    height: auto;
    width: 90%;
    background-color: transparent;
    outline: none;
    line-height: 6mm;
}
.datenschutzerklärung-box {
    font-family: sans-serif;
    margin: 20px 20px 20px 20px;
}
