<div class="cv-generator">
    <div class="header">
        Datenschutzerklärung
    </div>
    <div class="content">
        <div class="datenschutzerklärung-box">
            <b>Datenschutzerklärung</b>
            <p align="justify">Die Betreiber dieser Seite nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>
 
            <b>Cookies</b>
            <p align="justify">Auf unserer Website werden Cookies verwendet. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unsere Tools effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Unser Cookie speichert die Daten, damit die Eingaben bis zum Download des Lebenslauf oder des Motivationsschreibens nicht verloren gehen. Beim Verlassen der Website bleiben die Daten im Browser des Benutzers (nicht auf unserer Website) gespeichert. Wenn der Benutzer das nächste Mal auf unsere Website kommt, sind seine Informationen dann bereits vorhanden. Dies erleichtert das erneute Erstellen eines Lebenslaufs oder eines Motivationsschreibens. Durch klicken von "Cache-Daten löschen" auf unserer Website, werden die Informationen gelöscht.</p>
 
            <b>Kontakt</b>
            <p align="justify">Wenn Sie uns Anfragen zukommen lassen, werden die von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
 
            <b>Google Analytics</b>
            <p align="justify">Unsere Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, USA. Google Analytics verwendet auch Cookies, welche eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics finden Sie in der Datenschutzerklärung von Google: <a href="https://support.google.com/analytics/answer/6004245?hl=de" target="_blank">https://support.google.com/analytics/answer/6004245?hl=de</a> </p>

        </div>
    </div>
</div>