<div class="first-step">
    <div class="motivation-container">

        <div class="row">
            <div class="col-100">
                <span class="small-heading grey-color">
                    Beantworte die Fragen.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-100">
                <label class="grey-color">
                    (Die Vorlage hilft dir beim Schreiben. Am Schluss kannst du den Brief als Word herunterladen und noch anpassen).
                </label>
            </div>
        </div>
        <div class="mb-20"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="">Wie bist du auf das Stelleninserat aufmerksam geworden und für welche Stelle
                    möchtest du dich bewerben? (Schreibe in ganzen Sätzen).</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepTwoData.textArea1" class="col-100"
                    name="comment-area" rows="5"
                    placeholder={{commonService.lehrStepTwoData.textArea1PlaceHolder}}></textarea>
            </div>
        </div>


        <div class="mb-10"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="">Was hast du bisher in diesem Beruf gemacht? (Schreibe in ganzen
                    Sätzen).</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepTwoData.textArea2" class="col-100"
                    name="comment-area" rows="5"
                    placeholder={{commonService.lehrStepTwoData.textArea2PlaceHolder}}></textarea>
            </div>
        </div>


        <div class="mb-10"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="">Warum passt der Beruf zu dir? Warum möchtest du bei dieser Firma eine Lehrstelle? (Schreibe in ganzen Sätzen).</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepTwoData.textArea3" class="col-100"
                    name="comment-area" rows="5"
                    placeholder={{commonService.lehrStepTwoData.textArea3PlaceHolder}}></textarea>
            </div>
        </div>

        <div class="mb-20"></div>
    </div>

</div>
<div class="mb-20"></div>
<a class="next-btn back-btn" (click)="onBack()">zurück</a>
<a class="next-btn" (click)="onNext()">weiter</a>